#about {
    margin-top: 25px;
    padding-bottom: 100px;

    .about_content {
        .about_contect_img {
            margin-bottom: 30px;
        }

        .play_video {
            margin-top: 20px;

            span {
                font-size: 16;
                line-height: 38px;
                color: $black;
            }
        }
    }

    .about_content_wrapper {
        padding-left: 36px;

        h3 {
            color: $black;
            font-size: 46px;
            font-weight: $semi_bold;
            font-family: $oswald;
            padding-bottom: 20px;
            line-height: 55px;
        }

        p {
            color: $gray;
            font-size: 20px;
            line-height: 44px;
            margin-right: 18px;
        }
    }
}

#about_content_2 {
    padding-top: 100px;
    padding-bottom: 190px;
    .office_content_wrapper {
        h3 {
            color: $black;
            font-size: 46px;
            font-weight: $semi_bold;
            font-family: $oswald;
            padding-bottom: 20px;
            line-height: 55px;
        }

        p {
            color: $gray;
            font-size: 20px;
            line-height: 44px;
            margin-right: 18px;
            padding-bottom: 20px;
            margin-right: 75px;
        }
    }
}

#team {
    padding: 188px 0;
    padding-bottom: 120px;
    .team_card {
        .member_position {
            margin-bottom: 105px;

            h3 {
                color: $black;
                font-size: 62px;
                font-weight: $semi_bold;
                font-family: $oswald;
                padding-top: 35px;
                line-height: 74px;
            }

            span {
                font-size: 20px;
                line-height: 20px;
                color: $gray;
                margin-top: 12px;
                display: block;
            }
        }
    }
}