/* Banner section start */
#banner {
  overflow: hidden;
  padding-top: 167px;
  padding-bottom: 180px;
  @media(max-width: 575px) {
   padding-top: 70px;    
   padding-bottom: 112px;   
  }
  .container {
    .banner_wrapper {
      h2 {
        font-size: 84px;
        line-height: 110px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        @media(max-width: 767px) {
          font-size: 72px;
        }
        @media(max-width: 575px) {
        font-size: 52px;
        line-height:  72px;
        }
        @media(max-width: 575px) {
        font-size: 42px;
        }
      }
      p {
        font-size: 16px;
        line-height: 38px;
        color: #3e424b;
        padding-right: 150px;
        margin: 48px 0px 40px 0px;
        @media(max-width: 767px) {
          margin-bottom: 10px;
        }
        @media(max-width: 575px) {
          margin-bottom: 10px;
          padding-right: 0px;
        }
      }
    }
    .banner_img{
      img{
        @media(max-width: 575px) {

          max-width: 100%;
        }
      }
    }
  }
}
/* Banner section end */
