#joinus-area {
    .join-designer {
        h2 {
            font-size: 46;
            line-height: 1.2;
            color: #3E424B;
            font-family: 'Oswald', sans-serif;
            padding-bottom: 10px;
            font-weight: 600;
        }

        p {
            color: #7A849A;
            font-size: 20PX;
            line-height: 2;

        }
    }
}
#joinus_footer{
    .copyright_text {
        padding-bottom: 30px;
      }
}