* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
  &:hover {
    @extend a;
  }
  &:focus {
    @extend a;
  }
}

button {
  border: none;
  outline: none;
  &:hover {
    @extend button;
  }
}

/* container */
.container {
  @media (min-width: 1440px) {
    max-width: 1170px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.section_title h2 {
  font-size: 84px;
  line-height: 110px;
  margin: auto;
  color: transparent;
  -webkit-text-stroke: 1.5px #7a849a;
  padding-bottom: 70px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

section {
  position: relative;
  padding: 60px 0px;
}

.text_stroke {
  color: transparent;
  -webkit-text-stroke: 1.5px #3e424b;
}

.button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.1px;
  color: #3e424b;
  border: 2px solid #3e424b;
  padding: 16px;
  font-weight: 600;
  text-transform: uppercase;
  // width: 120px;
  // height: 17px;
  &:hover {
    color: #3e424b;
  }
}

// slick configuration
.slick-slide {
  outline: none;
}
