#details_slier{
    margin-top: 50px;
    padding-bottom: 100px;
    .single-slider{
        img{
            width: 100%;
            height: 791px;
            object-fit: cover;
        }
    }
    .project_title{
        h2{
            color: $black;
            -webkit-text-stroke: inherit;
            padding-top: 10px;
            padding-bottom: 0;
        }
    }
}
#project_area{
    padding-top: 90px;
    padding-bottom: 75px;
    .project_title_2{
        h2{
            color: $black;
            font-size: 46px;
            line-height: 55px;
            font-family: $oswald;
            font-weight: $semi_bold;
            padding-bottom: 25px;
        }
    }
    .project_wrapper{
        .project_text{
            p{
                color: #7A849A;
                font-size: 20px;
                line-height: 44px;    padding-right: 230px;
                margin: 0;
            }
        }
        .project_button{
            margin-top: 40px;
            a{
                margin-right: 45px;
                color: #3E424B;
                line-height: 14px;
                font-size: 12px;
                letter-spacing: 3px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .our_role{
        margin-bottom: 40px;
        ul{
            h4{
                color: #3E424B;
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                margin-bottom: 10px;
            }
            li{
                font-size: 16px;
                color: #7A849A;
                line-height: 24px;
                padding-bottom: 5px;

            }
        }
    }
    .our_role_img{
        width: 100%;
        height: 363px;
        img{
            width: 100%;
            height: 363px;
            object-fit: cover;
        }
    }
}
#details_project{
    padding-top: 75px;
    padding-bottom: 100px;
    .project_info {
        span {
            font-size: 12px;
            line-height: 14px;
            color: #7a849a;
        }

        h3 {
            color: #3e424b;
            font-size: 46px;
            font-weight: 600;
            font-family: 'Oswald', sans-serif;
            padding-bottom: 42px;
            line-height: 55px;
            margin: 0;
        }

        .v_project {
            color: $black;
            line-height: 14px;
            font-size: 12px;
            letter-spacing: 3px;
            font-weight: $semi_bold;
            text-transform: uppercase;
        }
    }
}