#footer_area {
  text-align: center;
  padding-top: 188px;

  @media (max-width: 767px) {
    padding-top: 80px;
  }

  .footer_menu {
    .nav_links {
      padding-top: 18px;
      li {
        a {
          &.active {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              left: 0;
              bottom: 0;
              background-color: $black;
            }
          }
        }
      }
    }
    span {
      font-size: 20px;
      line-height: 44px;
      color: $black;
      padding-bottom: 10px;
      display: block;
    }

    ul {
      @media (max-width: 1024px) {
        margin: 20px 0px !important;
      }

      li {
        display: inline-block;
        margin: 0px 37.5px;

        @media (max-width: 991px) {
          margin: 0px 12.5px;
        }

        @media (max-width: 575px) {
          margin: 0px 6.5px;
        }

        @media (max-width: 380px) {
          margin: 0px 4.5px;
        }

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }

        a {
          font-size: 32px;
          line-height: 38px;
          font-weight: $semi_bold;
          color: $black;
          display: inline-block;
          text-transform: capitalize;

          @media (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .connect_info {
    margin-top: 78px;
    margin-bottom: 35px;

    @media (max-width: 1024px) {
      margin-top: 40px;
    }

    h4 {
      font-size: 20px;
      line-height: 44px;
      color: $black;
      padding-bottom: 12px;
    }

    p {
      text-align: center;
      font-size: 16px;
      line-height: 38px;
      color: $gray;
      margin: 0 21%;

      @media (max-width: 767px) {
        white-space: normal;
        margin: 0;
      }
    }

    .email {
      font-size: 16px;
      line-height: 38px;
      font-weight: $semi_bold;
      color: $black;
    }
  }

  .copyright_text {
    @media (max-width: 1024px) {
      padding-bottom: 15px;
    }
  }
}

.copyright_text {
  p {
    color: $black;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
  }
}
