header {
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #5787ff;
  .container {
    .head_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      .logo{
        img{
          @media(max-width: 525px) {
            width: 190px;
          }
        }
      }
      .menu {
        display: flex;
        align-items: center;

        .m_bar {
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          position: relative;
          line-height: 25px;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          &::after {
            content: 'Menu';
            position: absolute;
            left: -43px;
            top: -6px;
          }
          li {
            width: 24px;
            height: 3px;
            background-color: #3e424b;
            transition: all 0.4s ease-in-out;

            &:first-child {
              margin-bottom: 6px;
            }
          }
        }

        // effect on hover/click
        &.active {
          .m_bar {
            &::after {
              content: 'close';
            }
            li {
              &:first-child {
                transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 6);

              }
              transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, -4);

            }
          }
        }
      }
    }
  }
}
.menu_content {
  pointer-events: none;
  height: 0;
  position: relative;
  clip-path: circle(100px at 120% -10%);
  transition: all 1.2s linear;
  overflow: hidden;
  &.open {
    height: 100%;
    pointer-events: all;
    clip-path: circle(2200px at 0% -10%);
  }
  .top {
    background-color: #3e424b;
    padding: 240px 0px;
    @media(max-width: 991px) {
      padding: 180px 0px;
    }
    .container {
      .nav_links {
        .nav_items {
          margin: 0px 49px;
          position: relative;
          display: inline-block;
          @media(max-width: 1200px){
            margin-bottom: 20px;
          }
          @media(max-width: 991px) {
            width: 100%;
            margin-left: 0px;
            margin-bottom: 60px;
          }

          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }

          &::after {
            position: absolute;
            top: 10px;
            right: 50%;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
          }
          a {
            font-size: 56px;
            line-height: 110px;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            text-transform: capitalize;
          }

          &:hover {

         
            a {
              color: transparent;
              -webkit-text-stroke: 1.5px #7a849a;
            }
            &:nth-child(1) {
              &::after {
                content: '01';
              }
            }
            &:nth-child(2) {
              &::after {
                content: '02';
              }
            }
            &:nth-child(3) {
              &::after {
                content: '03';
              }
            }
            &:nth-child(4) {
              &::after {
                content: '04';
              }
            }
            &:nth-child(5) {
              &::after {
                content: '05';
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    padding: 18px 0px;
    background-color: #fff;
    @media(max-width: 991px) {
      padding: 90px 0px;
    }
    .container {
      .social_links {
        margin-top: 95px !important;
        li {
          &::after {
            transition: all 0.6s ease-in-out;
          }
          &:hover {
            z-index: 1;
          }
        }
      }
      .c_rights {
        text-align: center;
        h5 {
          color: #3e424b;
          font-size: 16px;
          line-height: 1.7;
          padding-bottom: 30px;
          margin: 0;
        }
      }
    }
  }
}

.none {
  &.active {
    display: none;
  }
}
