#joinus-contact_area{
    
    padding-bottom: 197px;
    .contact_form{
        .form-row input {
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 30px 10px;
            outline: none;
            margin: 20px 0;
        }
        .subject{
            width: 100%;
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 30px 10px;
            outline: none;
            margin: 20px 0;
        }
    }
    textarea{
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ddd;
        padding: 30px 10px;
        outline: none;
        margin: 20px 0;
    }
    button{
        margin-top: 25px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2.1px;
        color: $black;
        border: 2px solid $black;
        padding: 16px;
        font-weight: $semi_bold;
        text-transform: uppercase;
        display: inline-block;
        outline: none;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
    button:hover{
        border: 2px solid transparent;

    }
}