/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/




// for common device size
@media(max-width: 991px) {
    #about{
        .about_content{
            
         .col-lg-6{
             &:first-child{
                 margin-left: 30px;
                 margin-bottom: 30px;
             }
             .play_video{
               margin-top: 32px;
             }
         }
         
        }
    }
}









/* laptop devices 1200 - 1600 */
@include laptop {

}

   /* ?? section start */
   /* ?? section end */


/* large devices 992 - 1199*/
@include lg {

    /* ?? section start */
     /* ?? section end */
}
      

/* Medium devices 768 - 991 */

@include md {
    // About page 

    /* about section start */
       #about{
           .about_content{
               
            .col-lg-6{
                &:first-child{
                    margin-left: 30px;
                    margin-bottom: 30px;
                }
                .play_video{
                  margin-top: 32px;
                }
            }
            
           }
       }
     /* about section end */


    /* ?? section start */
     /* ?? section end */
}
       

/* Small devices 576 - 767 */

@include sm {
// About page
    /* about section start */
    #about{
        .about_content{
            
         .col-lg-6{
            
             .play_video{
               margin-top: -22px;
             }
         }
         
        }
    }


     /* about section end */

    /* ?? section start */
     /* ?? section end */
}


/* Xtra_Small devices 0 - 575 */

@include xs {

// social links
.social_links {
    
    margin-bottom: 20px !important;
}




// For section
section{
    padding: 60px 0px;
}

// About page

    /* About section start */
    #about{
        .about_content{
            
         .col-lg-6{
             .play_video{
               margin-top: -15px;
               white-space: nowrap;
             }
         }
         
        }
    }

    #about_content_2{
        .container{
            .r_space {
                padding-left: 15px !important;
                margin-bottom: 30px;
            }
        }
    }

     /* About section end */

    //  footer
    #footer_area .connect_info p {
        margin: 0 10%;
        line-height: 32px;
    }
}