/*----------------------------------------*/
/*  RESPONSIVE CSS START
/*----------------------------------------*/

// for common device size

@media (max-width: 1440px) {
	.project_img img {
		max-width: 100%;
		object-fit: cover;
	}
}

@media (max-width: 1024px) {
	#banner {
		.banner_wrapper {
			text-align: center;
		}
	}
	#banner .container .banner_wrapper p {
		padding-right: 0px;
	}
	#banner .round_shape_img {
		top: -370px;
		left: -400px;
	}
}

@media (max-width: 991px) {
	// menu
	.fullscreen-menu .menu-body .menu-container {
		justify-content: center;
	}
	.fullscreen-menu .menu-body .main-menu ul {
		flex-direction: column;
		text-align: center;
	}
	.fullscreen-menu .menu-body .main-menu ul li {
		margin-bottom: 0px;
		padding-bottom: 22px;
	}

	#about {
		.about_content {
			.col-lg-6 {
				&:first-child {
					margin-left: 30px;
					margin-bottom: 30px;
				}

				.play_video {
					margin-top: 32px;
				}
			}
		}
	}

	//   404 error page
	#error_area .error_wrapper h2 {
		font-size: 50px;
	}
}
@media (max-width: 480px) {
	/* testimonial section start  */

	#testimonial-area .testimonial_slider .slick-prev:before,
	#testimonial-area .testimonial_slider .slick-next:before {
		font-size: 12px;
	}

	/* testimonial section end  */

	/* ?? section start  */
	/* ?? section end  */
}
@media (max-width: 380px) {
	/* testimonial section start  */

	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		transform: translate(30px, 118px);
	}
	#testimonial-area .testimonial_slider .slick-arrow.slick-next {
		transform: translate(255px, 118px);
	}
	/* testimonial section end  */

	/* ?? section start  */
	/* ?? section end  */
}
@media (min-width: 381px) and (max-width: 575px) {
	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		transform: translate(90px, 120px) !important;
	}
	#testimonial-area .testimonial_slider .slick-arrow.slick-next {
		transform: translate(350px, 120px) !important;
	}
}
@media (max-width: 480px) {
	#testimonial-area .testimonial_slider .slick-arrow,
	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		display: none !important;
	}
}
@media (max-width: 320px) {
	/* testimonial section start  */

	#testimonial-area .testimonial_slider .slick-arrow.slick-next {
		transform: translate(210px, 118px);
	}
	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		transform: translate(8px, 118px);
	}
	.fullscreen-menu .menu-body .menu-close .close-bar {
		padding-right: 30px;
	}

	/* testimonial section end  */

	/* ?? section start  */
	/* ?? section end  */
}

/* laptop devices 1200 - 1600 */
@include laptop {
}

/* ?? section start */
/* ?? section end */

/* large devices 992 - 1199*/
@include lg {
	/* ?? section start */
	/* ?? section end */

	/* testimonial  section start */
	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		transform: translate(270px, 120px);
	}

	#testimonial-area .testimonial_slider .slick-arrow.slick-next {
		transform: translate(550px, 120px);
	}
	/* testimonial  section end */
}

/* Medium devices 768 - 991 */

@include md {
	section {
		padding: 100px 0px !important;
	}

	/* about section start */
	#about {
		.about_content {
			.col-lg-6 {
				&:first-child {
					margin-left: 30px;
					margin-bottom: 30px;
				}

				.play_video {
					margin-top: 25px;
				}
			}
		}
	}

	.about_content_2_img {
		margin-bottom: 30px;
	}

	.member_position h3 {
		font-size: 52px !important;
	}

	/* details section end */
	#project_area {
		padding-top: 0;
	}
	.single-slider {
		img {
			height: 500px !important;
		}
	}

	/* work section start */

	#work .work_content .tab-text p {
		font-size: 15px;
	}
	#work .work_content .work_tab .nav-pills .nav-link {
		margin-left: 20px;
	}

	.project_info h3 {
		font-size: 36px !important;
		padding-bottom: 20px !important;
	}

	.social_links {
		padding-bottom: 0px;
	}

	// round shape
	#WE_Do .round_shape_img {
		left: 15% !important;
	}

	#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
		transform: translate(165px, 120px);
	}

	#testimonial-area .testimonial_slider .slick-arrow.slick-next {
		transform: translate(420px, 120px);
	}

	/* footer section end */
	#footer_area {
		padding-top: 50px !important;
	}
}

/* Small devices 0 - 767 */
@include sm {
	// For section
	section {
		padding: 60px 0px !important;
	}

	// About page
	/* about section start */
	#about {
		.about_content {
			.col-lg-6 {
				.play_video {
					margin-top: 25px;
				}
			}
		}
	}

	#about_content_2 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#team {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.about_content_2_img {
		margin-bottom: 30px;
	}

	.member_position h3 {
		font-size: 52px !important;
	}

	/* about section end */

	/* work  section start */
	.project_img {
		height: 200px !important;

		img {
			height: 200px !important;
		}
	}

	#work {
		padding-top: 80px;
	}

	.project_info h3 {
		font-size: 24px !important;
		padding-bottom: 0px !important;
	}

	.project_info .v_project {
		letter-spacing: 2px !important;
	}

	.social_links li {
		margin: 0 10px;
	}

	.social_links {
		padding-bottom: 0px;
	}

	#work .work_content .tab-text p {
		padding-bottom: 15px;
	}

	#work .work_content .work_tab .nav-pills .nav-link {
		margin: 0;
		margin-right: 20px;
	}

	#work .work_content .work_tab .nav-pills .nav-link::before {
		bottom: -6px;
	}
	#work .work_content .work_tab ul {
		justify-content: flex-start;
	}

	/* work  section end */

	/* detaile  section start */
	#project_area .project_wrapper .project_button a {
		margin-right: 15px;
		letter-spacing: 2px;
	}
	#details_slier .single-slider img {
		height: 400px;
	}
	/* detaile  section end */

	//   404 error page
	.error_img {
		img {
			max-width: 100%;
			object-fit: contain;
		}
	}
	#error_area .error_wrapper h2 {
		font-size: 36px;
		line-height: 48px;
	}
	#error_area .bottom {
		padding-bottom: 0px;
	}
	#testimonial-area .testimonial_slider .slick-arrow {
		display: none !important;
	}

	#Project {
		padding-top: 0px;
	}

	#Project .drag_text {
		bottom: 30px;
	}
	#Project .slick-dots,
	#testimonial-area .slick-dots {
		bottom: -40px;
	}

	#Project .slide_info {
		margin-bottom: 30px;
	}

	#about .about_content .col-lg-6:first-child {
		margin-left: 0px;
	}
}

/* Xtra_Small devices 0 - 575 */

@include xs {
	// banner round shape img
	#banner .round_shape_img {
		top: -160px;
		left: -400px;
	}

	// social links
	.social_links {
		margin-bottom: 20px !important;
	}

	// For section
	section {
		padding: 60px 0px;
	}

	// About page

	/* About section start */
	#about {
		.about_content {
			.col-lg-6 {
				.play_video {
					margin-top: 10px;
					white-space: wrap;
				}
			}
		}
	}

	#about_content_2 {
		.container {
			.r_space {
				padding-left: 15px !important;
				margin-bottom: 30px;
			}
		}
	}

	.about_content_2_img {
		margin-bottom: 30px;
	}

	.member_position h3 {
		font-size: 52px !important;
	}

	/* About section end */

	/* testimonial section start  */

	#testimonial-area {
		padding-top: 60px;
		padding-bottom: 180px;
	}
	/* testimonial section end  */

	/* ?? section start  */
	/* ?? section end  */

	//  footer
	#footer_area .connect_info p {
		margin: 0;
		line-height: 32px;
	}

	//   404 page
	#error_area .bottom .container .social_links li {
		padding: 0px;
	}
}
