/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/




// for common device size
@media(max-width: 991px) {
    #about {
        .about_content {

            .col-lg-6 {
                &:first-child {
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                .play_video {
                    margin-top: 32px;
                }
            }

        }
    }
}









/* laptop devices 1200 - 1600 */
@include laptop {}

/* ?? section start */
/* ?? section end */


/* large devices 992 - 1199*/
@include lg {

    /* ?? section start */
    /* ?? section end */
}


/* Medium devices 768 - 991 */

@include md {
    // About page 

    /* about section start */
    #about {
        .about_content {

            .col-lg-6 {
                &:first-child {
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                .play_video {
                    margin-top: 25px;
                }
            }

        }
    }

    .about_content_2_img {
        margin-bottom: 30px;
    }

    .member_position h3 {
        font-size: 52px !important;
    }

    /* details section end */
    #project_area {
        padding-top: 0;}
        .single-slider{
            img{
                height: 500px !important;
            }
        }


    /* work section start */

    #work .work_content .tab-text p {
        font-size: 15px;
    }
    #work .work_content .work_tab .nav-pills .nav-link {

        margin-left: 20px;
    }
    
    // #work .work_content .work_tab .nav-pills .nav-link::before {
    //     bottom: -8px;
    // }
    .project_img {
        height: 300px !important;

        img {
            height: 300px !important;
        }
    }

    .project_info h3 {
        font-size: 36px !important;
        padding-bottom: 20px !important;

    }

    .social_links {
        padding-bottom: 0px;
    }



    /* footer section end */
    #footer_area {
        padding-top: 50px !important;
    }
}


/* Small devices 320 - 767 */

@include sm {

    // About page
    /* about section start */
    #about {
        .about_content {

            .col-lg-6 {

                .play_video {
                    margin-top: 25px;
                }
            }

        }
    }

    #about_content_2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #team {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .about_content_2_img {
        margin-bottom: 30px;
    }

    .member_position h3 {
        font-size: 52px !important;
    }

    // For section
    section {
        padding: 60px 0px;
    }


    /* about section end */

    /* work  section start */
    .project_img {
        height: 200px !important;

        img {
            height: 200px !important;
        }
    }

    #work {
        padding-top: 80px;
    }

    .project_info h3 {
        font-size: 24px !important;
        padding-bottom: 0px !important;

    }

    .project_info .v_project {
        letter-spacing: 2px !important;
    }

    .social_links li {
        margin: 0 10px;
    }

    .social_links {
        padding-bottom: 0px;
    }

    #work .work_content .tab-text p {
        padding-bottom: 15px;
    }

    #work .work_content .work_tab .nav-pills .nav-link {
        margin: 0;
        margin-right: 20px;
    }

    #work .work_content .work_tab .nav-pills .nav-link::before {
        bottom: -6px;
    }
    #work .work_content .work_tab ul {
        justify-content: flex-start;
    }

    /* detaile  section start */
    #project_area .project_wrapper .project_button a {
        margin-right: 15px;
        letter-spacing: 2px;
    }
    #details_slier .single-slider img {
        height: 400px;
    }
    /* detaile  section end */
}


/* Xtra_Small devices 0 - 575 */

@include xs {

    // social links
    .social_links {

        margin-bottom: 20px !important;
    }




    // For section
    section {
        padding: 60px 0px;
    }

    // About page

    /* About section start */
    #about {
        .about_content {

            .col-lg-6 {
                .play_video {
                    margin-top: 10px;
                    white-space: wrap;
                }
            }

        }
    }

    #about_content_2 {
        .container {
            .r_space {
                padding-left: 15px !important;
                margin-bottom: 30px;
            }
        }
    }

    .about_content_2_img {
        margin-bottom: 30px;
    }

    .member_position h3 {
        font-size: 52px !important;
    }

    /* About section end */

    //  footer
    #footer_area .connect_info p {
        margin: 0 10%;
        line-height: 32px;
    }
}