#testimonial-area {
  background: $black;
  padding-top: 178px;
  padding-bottom: 310px;
  position: relative;
  z-index: 1;
  .tes-title {
    h2 {
      text-transform: capitalize;
      padding: 0;
      padding-bottom: 70px;
    }
  }
  .testimonial_slider {
    text-align: center;
    color: $white;
    .slide_item {
      .content_text {
        font-size: 32px;
        line-height: 55px;
        font-weight: 300;
        padding-bottom: 30px;
        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 38px;
        }
        @media (max-width: 575px) {
          font-size: 14px;
        }
      }
      .client_name {
        font-size: 20px;
        line-height: 44px;
        margin-bottom: 0px;
      }
      .client_position {
        font-size: 14px;
        line-height: 16px;
        color: $gray;
        display: inline-block;
        margin-top: -10px;
      }
    }
    .slick-dots {
      transform: translate(-55%, -12px);
      li {
        border: 1px solid $white;
        &.slick-active {
          background-color: $white;
        }
      }
    }
    .slick-arrow {
      font-size: 0px;
      background: transparent;
      position: absolute;
      bottom: 0px;
      @media (max-width: 1024px) {
        bottom: 50px;
      }
      &.slick-prev {
        // left: 0px;
        transform: translate(400px, 116px);
       
        @media(max-width: 380px ) {
          transform: translate(35px, 118px);
        }
      }
      &.slick-next {
        transform: translate(633px, 116px);
       
        @media(max-width: 380px ) {
          transform: translate(245px, 118px);
        }
      }
    }
    .slick-prev:before,
    .slick-next:before {
      color: $white;
      font-size: 16px;
      outline: none;
      text-transform: capitalize;
    }

    .slick-prev:before {
      content: 'Previous Clients';
    }
    .slick-next:before {
      content: 'Next Clients';
    }
  }
  .qoute_img {
    position: absolute;
    content: '';
    top: 35%;
    left: 13%;
  }
}
