#testimonial-area {
  background: #3e424b;
  padding: 160px 0;
  position: relative;
  .tes-title {
    h2 {
      text-transform: capitalize;
      padding: 0;
      padding-bottom: 70px;
    }
  }
  .testimonial_slider {
    text-align: center;
    color: #fff;
    .slide_item {
      .content_text {
        font-size: 32px;
        line-height: 55px;
        font-weight: 300;
        padding-bottom: 40px;
        @media(max-width: 767px) {
          font-size: 18px;
          line-height: 38px;
        }
        @media(max-width: 575px) {
          font-size: 14px;
        }
      }
      .client_name{
        font-size: 20px;
        line-height: 44px;
        margin-bottom: 0px;
      }
      .client_position {
        font-size: 14px;
        line-height: 16px;
        color: #7A849A;
        display: inline-block;
        margin-top: -5px;
      }
    }
    .slick-dots{
      transform: translate(-55%,-45px);
      li{
        border: 1px solid #fff;
        &.slick-active{
          background-color: #fff;
        }
      }
    }
    .slick-arrow{
    font-size: 0px;
    background: transparent;
    position: absolute;
    bottom: 0px;
    @media(max-width:1024px) {
      bottom: 50px;
    }
    &.slick-prev{
      // left: 0px;
      transform: translate(-195px, 81px);
      @media(max-width: 480px ) {
        transform: translate(-155px,78px);
      }
    }
    &.slick-next{
      transform: translate(65px, 81px);
      @media(max-width: 480px ) {
        transform: translate(55px,78px);
      }
    }
    }
    .slick-prev:before,
    .slick-next:before {
      color: #fff;
      font-size: 16px;
      outline: none;
      text-transform: capitalize;
      @media(max-width: 480px) {
        font-size: 12px;

      }
    }
    
    .slick-prev:before {
     content: 'Previous Clients';
    }
    .slick-next:before {
      content: 'Next Clients';
     
    }
    
  }
  .qoute_img{
    position: absolute;
    content: "";
    top: 34%;
    left: 7%;
  }
}
