// Colors
$white: #fff;
$off_white: #F8F8F8;
$primary: #5787FF;
$gray: #7A849A;
$black: #3E424B;

// fonts
$poppins:'Poppins', sans-serif;
$oswald:'Oswald', sans-serif;
$rajdhani: 'Rajdhani', sans-serif;

// Font- weight
$light: 300;
$regular: 400;
$semi_bold: 600;
$bold: 700;
