// Colors
$white: #fff;
$off_white: #F8F8F8;
$primary: #5787FF;
$gray: #7A849A;
$black: #3E424B;

// fonts
$poppins:'Poppins', sans-serif;
$oswald:'Oswald', sans-serif;
$rajdhani: 'Rajdhani', sans-serif;

// Font- weight
$light: 300;
$regular: 400;
$semi_bold: 600;
$bold: 700;

// Responsive Variables
// $laptop: only screen and (min-width: 1200px) and (max-width: 1600px);
// $lg : only screen and (min-width: 992px) and (max-width: 1199px);
// $md:only screen and (min-width: 768px) and (max-width: 991px);
// $sm: only screen and (min-width: 576px) and (max-width: 767px);
// $xs:(max-width: 575px);
