@import 'fonts';
@import 'config';

/* ?? part start */
@import 'header';
@import 'banner';
@import 'works';
@import 'work_slider';
@import 'about';
@import '404';
@import 'testimonial';
@import 'career';
@import 'joinus';
@import 'footer';

/* WE_DO part start */
#WE_Do {
  padding-top: 180px;
  .container {
    .box_wrapper {
      position: relative;
      max-width: 570px;
      height: 435px;
      margin: auto;
      .card_box {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.9s ease-in-out;
        border: 1.5px solid #3e424b;

        .front_part {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          align-items: center;

          h2 {
            font-size: 84px;
            line-height: 110px;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            @media(max-width: 575px) {
              font-size: 66px;
              line-height: 90px;
            }
            @media(max-width: 480px) {
              font-size: 52px;
              line-height: 76px;
            }
          }
        }

        .back_part {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          background: #3e424b;
          transform: rotateY(180deg);
          display: flex;
          align-items: center;

          .box_title {
            padding: 50px;

            h2 {
              font-size: 46px;
              line-height: 55px;
              text-transform: uppercase;
              color: #fff;
              font-family: 'Oswald', sans-serif;
              margin-bottom: 32px;
              @media(max-width: 575px) {
                font-size: 30px;
                line-height: 42px;
                margin-bottom: 26px;
              }
              @media(max-width: 480px) {
                font-size: 20px;
              }
            }

            p {
              font-size: 16px;
              line-height: 38px;
              color: #7a849a;
              margin-bottom: 40px;
              @media(max-width: 575px) {
                line-height: 32px;
              }
            }

            a {
              font-size: 12px;
              line-height: 14px;
              text-transform: uppercase;
              color: #fff;
              font-family: 'Poppins', sans-serif;
              font-weight: 600;
              img{
                @media(max-width: 575px) {
                  width: 22px !important;
                }
              }
            }
          }
        }

        &:hover {
          transform: rotateY(180deg);
          border: transparent;
        }
      }
    }

    .mb-30 {
      margin-bottom: 30px;

      @media (max-width: 1024px) {
      }
    }
  }
}

/* WE_DO part end */

/* brand_area part start */
#brand_area {
  padding-top: 20px;
  padding-bottom: 200px;
  .container {
    .brand_slider {
      .single_brand {
        img {
          margin: auto;
        }
      }
    }
  }
}

.mb-30 {
  margin-bottom: 30px;
}
.mt-50{
  margin-top: 50px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-100{
  margin-bottom: 100px;
}
/* brand_area part end */

/* ?? part start */
/* ?? part end */


/* media query part start */
@import './media';
/* media query part end */
