@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@300;400;600&family=Rajdhani:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0px;
}

a, a:hover, a:focus {
  text-decoration: none;
}

button, button:hover {
  border: none;
  outline: none;
}

/* container */
@media (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.section_title h2 {
  font-size: 84px;
  line-height: 110px;
  margin: auto;
  color: transparent;
  -webkit-text-stroke: 1.5px #7a849a;
  padding-bottom: 70px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

section {
  position: relative;
  padding: 60px 0px;
}

.text_stroke {
  color: transparent;
  -webkit-text-stroke: 1.5px #3e424b;
}

.button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.1px;
  color: #3e424b;
  border: 2px solid #3e424b;
  padding: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  color: #3e424b;
}

.slick-slide {
  outline: none;
}

/* ?? part start */
header {
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #5787ff;
}

header .container .head_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header .container .head_content .c_logo h2 {
  font-size: 48px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  color: #3e424b;
  text-transform: uppercase;
}

header .container .head_content .c_logo h2 .c_blue {
  color: #5787ff;
}

header .container .head_content .menu {
  display: flex;
  align-items: center;
}

header .container .head_content .menu .m_bar {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
}

header .container .head_content .menu .m_bar::after {
  content: 'Menu';
  position: absolute;
  left: -65px;
  top: -2px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

header .container .head_content .menu .m_bar li {
  width: 24px;
  height: 4px;
  background-color: #3e424b;
  transition: all 0.4s ease-in-out;
}

header .container .head_content .menu .m_bar li:first-child {
  margin-bottom: 12px;
}

header .container .head_content .menu.active .m_bar::after {
  content: 'close';
}

header .container .head_content .menu.active .m_bar li {
  transform: matrix(-0.71, 0.71, -0.71, -0.71, -5, -10);
}

header .container .head_content .menu.active .m_bar li:first-child {
  transform: matrix(0.71, 0.71, -0.71, 0.71, -5, 6);
}

.menu_content {
  pointer-events: none;
  height: 0;
  position: relative;
  clip-path: circle(100px at 120% -10%);
  transition: all 1.2s ease-in-out;
  overflow: hidden;
}

.menu_content.open {
  height: 100%;
  pointer-events: all;
  clip-path: circle(2500px at 0% -10%);
}

.menu_content .top {
  background-color: #3e424b;
  padding: 220px 0px;
}

.menu_content .top .container .nav_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu_content .top .container .nav_links .nav_items {
  margin: 0px 40px;
  position: relative;
}

.menu_content .top .container .nav_links .nav_items::after {
  position: absolute;
  top: -8px;
  right: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  transform: translateY(-5px);
}

.menu_content .top .container .nav_links .nav_items a {
  font-size: 76px;
  line-height: 110px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.menu_content .top .container .nav_links .nav_items:hover a {
  color: transparent;
  -webkit-text-stroke: 1.5px #7a849a;
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(1)::after {
  content: '01';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(2)::after {
  content: '02';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(3)::after {
  content: '03';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(4)::after {
  content: '04';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(5)::after {
  content: '05';
}

.menu_content .bottom {
  padding: 60px 0px;
  background-color: #fff;
}

.menu_content .bottom .container .social_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_content .bottom .container .social_links li {
  padding: 16px;
  transform: translateY(0);
  transition: all 0.4s linear;
  border-radius: 50%;
}

.menu_content .bottom .container .social_links li a i {
  color: #3e424b;
  font-size: 28px;
}

.menu_content .bottom .container .social_links li:hover {
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.menu_content .bottom .container .c_rights {
  text-align: center;
  margin-top: 30px;
}

.menu_content .bottom .container .c_rights h5 {
  color: #3e424b;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.none.active {
  display: none;
}

/* Banner section start */
#banner {
  overflow: hidden;
  padding-top: 178px;
  padding-bottom: 242px;
}

#banner .container .banner_wrapper h2 {
  font-size: 84px;
  line-height: 110px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

#banner .container .banner_wrapper p {
  font-size: 16px;
  line-height: 38px;
  color: #3e424b;
  padding-right: 150px;
  margin: 48px 0px 40px 0px;
}

/* Banner section end */
#work {
  background-color: #f8f8f8;
}

#work .container .section_title h2 {
  -webkit-text-stroke-color: #7a849a;
}

#work .container .project_slider .slide_item {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  opacity: 0.2;
  pointer-events: none;
}

#work .container .project_slider.slick-current {
  opacity: 1;
  pointer-events: all;
}

.work_content .tab-text p {
  font-size: 16px;
  line-height: 38px;
  color: #3E424B;
  margin: 0;
}

.work_content .work_tab .nav-pills .nav-link {
  color: #7A849A;
  background-color: transparent;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin: 0 20px;
}

.work_content .work_tab .nav-pills .nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: #5787FF;
  bottom: -15px;
  left: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.work_content .work_tab .nav-pills .nav-link.nav-link.active::before {
  width: 120%;
}

.project_img img {
  max-width: 100%;
}

.project_info span {
  font-size: 12px;
  line-height: 14px;
  color: #7A849A;
}

.project_info h3 {
  color: #3E424B;
  font-size: 46px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 40px;
  line-height: 55px;
}

.project_info .v_project {
  color: #3E424B;
  line-height: 14px;
  font-size: 12px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#about .about_content .about_contect_img {
  margin-bottom: 30px;
}

#about .about_content .play-video {
  margin-top: 20px;
}

#about .about_content .play-video span {
  font-size: 16;
  line-height: 38px;
  color: #3E424B;
}

#about .about_content_wrapper {
  padding-left: 36px;
}

#about .about_content_wrapper h3 {
  color: #3E424B;
  font-size: 46px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 7px;
  line-height: 55px;
}

#about .about_content_wrapper p {
  color: #7A849A;
  font-size: 20px;
  line-height: 44px;
  margin-right: 18px;
}

#about_content_2 .office_content_wrapper h3 {
  color: #3E424B;
  font-size: 46px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 40px;
  line-height: 55px;
}

#about_content_2 .office_content_wrapper p {
  color: #7A849A;
  font-size: 20px;
  line-height: 44px;
  margin-right: 18px;
  padding-bottom: 50px;
  margin-right: 75px;
}

#team .team_card .member_position {
  margin-bottom: 70px;
}

#team .team_card .member_position h3 {
  color: #3E424B;
  font-size: 62px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  padding-top: 70px;
  line-height: 74px;
}

#team .team_card .member_position span {
  font-size: 20px;
  line-height: 20px;
  color: #7A849A;
  margin-top: 25px;
  display: block;
}

#error_area {
  padding-bottom: 0 !important;
}

#error_area .error_wrapper {
  padding-top: 50px;
}

#error_area .error_wrapper h2 {
  font-size: 62px;
  line-height: 74px;
  color: #3E424B;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 60px;
}

#error_area .bottom {
  padding: 60px 0px;
  background-color: #fff;
}

#error_area .bottom .container .social_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error_area .bottom .container .social_links li {
  padding: 16px;
  transform: translateY(0);
  transition: all 0.4s linear;
  border-radius: 50%;
}

#error_area .bottom .container .social_links li a i {
  color: #3e424b;
  font-size: 28px;
}

#error_area .bottom .container .social_links li:hover {
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

#error_area .bottom .container .c_rights {
  text-align: center;
  margin-top: 30px;
}

#error_area .bottom .container .c_rights h5 {
  color: #3e424b;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

#testimonial-area {
  background: #3E424B;
  padding: 160px 0;
}

#testimonial-area .tes-title h2 {
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 70px;
}

#testimonial-area .testimonial-active .single-testimonial p {
  color: white;
  font-size: 32px;
  line-height: 1.5;
  margin: 0 auto;
  margin: 0 83px;
  font-weight: 300;
  margin-bottom: 26px;
}

#testimonial-area .testimonial-active .single-testimonial span {
  color: white;
  font-size: 20px;
  line-height: 44px;
  text-transform: capitalize;
}

#testimonial-area .testimonial-active .single-testimonial h2 {
  color: #7A849A;
  font-size: 14px;
  line-height: 1.5;
}

/* WE_DO part start */
#WE_Do .container .box_wrapper {
  position: relative;
  max-width: 570px;
  height: 435px;
}

#WE_Do .container .box_wrapper .card_box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.2s ease;
  border: 1.5px solid #3e424b;
}

#WE_Do .container .box_wrapper .card_box .front_part {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

#WE_Do .container .box_wrapper .card_box .front_part h2 {
  font-size: 84px;
  line-height: 110px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

#WE_Do .container .box_wrapper .card_box .back_part {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #3e424b;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title {
  padding: 50px;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title h2 {
  font-size: 46px;
  line-height: 55px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 32px;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title p {
  font-size: 16px;
  line-height: 38px;
  color: #7a849a;
  margin-bottom: 40px;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title a {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#WE_Do .container .box_wrapper .card_box:hover {
  transform: rotateY(180deg);
  border: transparent;
}

#WE_Do .container .mb-30 {
  margin-bottom: 30px;
}

/* WE_DO part end */
/* brand_area part start */
#brand_area .container .brand_slider .single_brand img {
  margin: auto;
}

.mb-30 {
  margin-bottom: 30px;
}

/* brand_area part end */
/* ?? part start */
/* ?? part end */
