@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@300;400;600&family=Rajdhani:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0px !important;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a:focus {
  outline: none !important;
}

button, button:hover, button:focus {
  border: none;
  outline: none;
}

/* container */
@media (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.section_title h2 {
  font-size: 84px;
  line-height: 110px;
  margin: auto;
  color: transparent;
  -webkit-text-stroke: 1.5px #7A849A;
  padding-bottom: 85px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
}

@media (max-width: 575px) {
  .section_title h2 {
    font-size: 52px;
  }
}

section {
  position: relative;
  padding: 150px 0;
}

input:required {
  box-shadow: none;
  box-shadow: 0px 1px 0px 0px red;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
}

.text_stroke {
  color: transparent;
  -webkit-text-stroke: 1.5px #3E424B;
}

.button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.1px;
  color: #3E424B;
  border: 2px solid #3E424B;
  padding: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.button:hover {
  color: #3E424B;
}

.slick-slide {
  outline: none !important;
}

.slick-slider {
  user-select: text;
}

.slick-list.draggable {
  user-select: none;
}

.slick-dots {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translate(-55%);
  display: flex !important;
  justify-content: center;
  padding-top: 60px;
}

@media (max-width: 1024px) {
  .slick-dots {
    bottom: -75px;
  }
}

.slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0px 5px;
  border: 1px solid #3E424B;
  transition: all 0.6s linear;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: #3E424B;
  width: 16px;
  height: 8px;
  border-radius: 25px;
}

.slick-dots li button {
  font-size: 0px;
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px !important;
}

@media (max-width: 1024px) {
  .social_links {
    padding-bottom: 35px;
  }
}

.social_links li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
  position: relative;
}

@media (max-width: 575px) {
  .social_links li {
    margin: 0px 4px;
  }
}

.social_links li a {
  text-align: center;
  margin: 0;
  padding: 0;
}

.social_links li a i {
  color: #3E424B;
  font-size: 16px;
  transition: all 0.6s ease-in-out;
}

.social_links li::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: -1;
  border-radius: 50%;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.6s linear;
}

.social_links li:hover::after {
  transform: scale(1);
  background-color: #5787FF;
}

.social_links li:hover a i {
  color: #fff;
}

.mb-70 {
  margin-bottom: 70px;
}

/* ?? part start */
header {
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #5787FF;
}

header .container .head_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header .container .head_content .logo {
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

header .container .head_content .logo a {
  color: #3E424B;
}

header .container .head_content .logo a span {
  color: #5787FF;
}

@media (max-width: 525px) {
  header .container .head_content .logo img {
    width: 190px;
  }
}

header .container .head_content .menu {
  display: flex;
  align-items: center;
}

header .container .head_content .menu .m_bar {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
  line-height: 25px;
}

header .container .head_content .menu .m_bar::after {
  content: 'Menu';
  position: absolute;
  left: -43px;
  top: -6px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

header .container .head_content .menu .m_bar li {
  width: 24px;
  height: 3px;
  background-color: #3E424B;
  transition: all 0.4s ease-in-out;
}

header .container .head_content .menu .m_bar li:first-child {
  margin-bottom: 9px;
}

.fullscreen-menu {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #3E424B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.fullscreen-menu.active {
  display: block;
}

.fullscreen-menu .menu-body {
  min-height: 75vh;
}

.fullscreen-menu .menu-body .menu-container {
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.fullscreen-menu .menu-body .menu-close {
  display: flex;
  align-items: center;
  padding-top: 39px;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
}

.fullscreen-menu .menu-body .menu-close .close-bar {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
  line-height: 25px;
}

.fullscreen-menu .menu-body .menu-close .close-bar::after {
  content: 'close';
  position: absolute;
  left: -43px;
  top: -5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.fullscreen-menu .menu-body .menu-close .close-bar li {
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, -4);
}

.fullscreen-menu .menu-body .menu-close .close-bar li:first-child {
  margin-bottom: 7px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 6);
}

.fullscreen-menu .menu-body .main-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fullscreen-menu .menu-body .main-menu ul li {
  margin-bottom: 45px;
}

.fullscreen-menu .menu-body .main-menu ul li a {
  font-size: 84px;
  line-height: 110px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  padding: 0 48px;
  color: #fff;
  position: relative;
}

.fullscreen-menu .menu-body .main-menu ul li a span {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.fullscreen-menu .menu-body .main-menu ul li a.active, .fullscreen-menu .menu-body .main-menu ul li a:hover {
  color: transparent;
  -webkit-text-stroke: 1.5px #7a849a;
}

.fullscreen-menu .menu-body .main-menu ul li a.active span, .fullscreen-menu .menu-body .main-menu ul li a:hover span {
  visibility: visible;
  color: white;
  -webkit-text-stroke: 0;
}

.fullscreen-menu .menu-footer {
  height: 25vh;
  background-color: #fff;
  padding: 20px 0;
  box-sizing: border-box;
}

.fullscreen-menu .menu-footer .footer-social {
  width: 100%;
  min-height: calc(25vh - 63px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-menu .menu-footer .footer-social li a {
  display: inline-block;
  color: #3E424B;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #3E424B;
  position: relative;
  z-index: 1;
  transition: all 0.3s linear 0.2s;
}

.fullscreen-menu .menu-footer .footer-social li a::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  transition-delay: 0.3s;
  transition: all 0.3s linear;
}

.fullscreen-menu .menu-footer .footer-social li a:hover {
  color: #fff;
}

.fullscreen-menu .menu-footer .footer-social li a:hover::after {
  transform: scale(1);
  background-color: #5787FF;
}

.fullscreen-menu .menu-footer .copyright-text {
  width: 100%;
  text-align: center;
  height: 23px;
}

.menu_content {
  pointer-events: none;
  height: 0;
  position: relative;
  clip-path: circle(100px at 120% -10%);
  transition: all 1.2s linear;
  overflow: hidden;
}

.menu_content.open {
  height: 100%;
  pointer-events: all;
  clip-path: circle(2200px at 0% -10%);
}

.menu_content .top {
  background-color: #3E424B;
  padding: 240px 0px;
}

@media (max-width: 991px) {
  .menu_content .top {
    padding: 180px 0px;
  }
}

.menu_content .top .container .nav_links .nav_items {
  margin: 0px 49px;
  position: relative;
  display: inline-block;
}

@media (max-width: 1200px) {
  .menu_content .top .container .nav_links .nav_items {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .menu_content .top .container .nav_links .nav_items {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 60px;
  }
}

.menu_content .top .container .nav_links .nav_items:first-child {
  margin-left: 0px;
}

.menu_content .top .container .nav_links .nav_items:last-child {
  margin-right: 0px;
}

.menu_content .top .container .nav_links .nav_items::after {
  position: absolute;
  top: 10px;
  right: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.menu_content .top .container .nav_links .nav_items a {
  font-size: 56px;
  line-height: 110px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
}

.menu_content .top .container .nav_links .nav_items:hover a {
  color: transparent;
  -webkit-text-stroke: 1.5px #7A849A;
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(1)::after {
  content: '01';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(2)::after {
  content: '02';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(3)::after {
  content: '03';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(4)::after {
  content: '04';
}

.menu_content .top .container .nav_links .nav_items:hover:nth-child(5)::after {
  content: '05';
}

.menu_content .bottom {
  padding: 18px 0px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .menu_content .bottom {
    padding: 90px 0px;
  }
}

.menu_content .bottom .container .social_links {
  margin-top: 95px !important;
}

.menu_content .bottom .container .social_links li::after {
  transition: all 0.6s ease-in-out;
}

.menu_content .bottom .container .social_links li:hover {
  z-index: 1;
}

.menu_content .bottom .container .c_rights {
  text-align: center;
  margin-top: 80px;
}

.menu_content .bottom .container .c_rights h5 {
  color: #3E424B;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.none.active {
  display: none;
}

/* Banner section start */
#banner {
  overflow: hidden;
  padding-top: 187px;
  padding-bottom: 209px;
}

@media (max-width: 575px) {
  #banner {
    padding-top: 70px;
    padding-bottom: 112px;
  }
}

#banner .container .banner_wrapper h2 {
  font-size: 84px;
  line-height: 110px;
  color: #3E424B;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 767px) {
  #banner .container .banner_wrapper h2 {
    font-size: 72px;
  }
}

@media (max-width: 575px) {
  #banner .container .banner_wrapper h2 {
    font-size: 52px;
    line-height: 72px;
  }
}

@media (max-width: 575px) {
  #banner .container .banner_wrapper h2 {
    font-size: 42px;
  }
}

#banner .container .banner_wrapper p {
  font-size: 16px;
  line-height: 38px;
  color: #3E424B;
  padding-right: 150px;
  margin: 48px 0px 40px 0px;
}

@media (max-width: 767px) {
  #banner .container .banner_wrapper p {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  #banner .container .banner_wrapper p {
    margin-bottom: 10px;
    padding-right: 0px;
  }
}

#banner .container .banner_img img {
  margin-top: 36px;
}

@media (max-width: 575px) {
  #banner .container .banner_img img {
    max-width: 100%;
  }
}

/* Banner section end */
#work {
  position: relative;
  padding-top: 175px;
  padding-bottom: 0;
}

#work .work_content .tab-text p {
  font-size: 16px;
  line-height: 38px;
  color: #3e424b;
  margin: 0;
}

#work .work_content .work_tab .nav-pills .nav-link {
  font-size: 16px;
  color: #7a849a;
  background-color: transparent;
  text-transform: capitalize;
  position: relative;
  padding: 0;
  margin-left: 50px;
}

#work .work_content .work_tab .nav-pills .nav-link::before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background: #5787ff;
  bottom: -13px;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#work .work_content .work_tab .nav-pills .nav-link.nav-link.active::before {
  width: 100%;
}

#work .project_img {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#work .project_img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#work .project_info span {
  font-size: 12px;
  line-height: 14px;
  color: #7a849a;
}

#work .project_info h3 {
  color: #3e424b;
  font-size: 46px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 42px;
  line-height: 55px;
  margin: 0;
}

#work .project_info .v_project {
  color: #3E424B;
  line-height: 14px;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
}

#Project {
  background-color: #F8F8F8;
  position: relative;
  padding-top: 180px;
  padding-bottom: 333px;
}

@media (max-width: 1024px) {
  #Project {
    padding-bottom: 126px;
  }
}

@media (max-width: 575px) {
  #Project {
    padding-top: 90px;
  }
}

#Project .container-fluid .section_title h2 {
  -webkit-text-stroke-color: #7a849a;
}

#Project .container-fluid .project_slider .slide_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s linear;
}

#Project .container-fluid .project_slider .slide_item .slide_info .p_type {
  font-size: 12px;
  line-height: 14px;
  color: #7a849a;
}

@media (max-width: 480px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .p_type {
    font-size: 8px;
  }
}

#Project .container-fluid .project_slider .slide_item .slide_info .p_title {
  font-size: 46px;
  line-height: 55px;
  font-weight: 600;
  color: #3E424B;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 1200px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .p_title {
    font-size: 30px;
    line-height: 42px;
  }
}

@media (max-width: 575px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .p_title {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .p_title {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .p_title {
    font-size: 12px;
    line-height: 28px;
  }
}

#Project .container-fluid .project_slider .slide_item .slide_info .v_project {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #3E424B;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 35px;
}

@media (max-width: 1200px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .v_project {
    padding-top: 8px;
  }
}

@media (max-width: 575px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .v_project {
    white-space: nowrap;
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  #Project .container-fluid .project_slider .slide_item .slide_info .v_project {
    letter-spacing: 0px;
  }
}

#Project .container-fluid .project_slider .slide_item .slide_info .v_project img {
  display: inline;
  outline: none !important;
}

#Project .container-fluid .project_slider .slide_item.slick-cloned {
  opacity: 0 !important;
  pointer-events: none;
}

#Project .container-fluid .project_slider .slide_item.slick-slide {
  opacity: 0.2;
}

#Project .container-fluid .project_slider .slide_item.slick-active {
  opacity: 1;
  pointer-events: all;
}

#Project .drag_text {
  color: #3E424B;
  position: absolute;
  bottom: 226px;
  left: 50%;
  transform: translate(-50%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  #Project .drag_text {
    bottom: 60px;
  }
}

@media (max-width: 991px) {
  #Project .drag_text {
    bottom: 60px;
  }
}

#about {
  margin-top: 25px;
  padding-bottom: 100px;
}

#about .about_content .about_content_img {
  margin-bottom: 30px;
  width: 100%;
  height: 354px;
}

#about .about_content .about_content_img img {
  width: 100%;
  height: 354px;
  object-fit: cover;
}

#about .about_content .about_content_img_1 {
  height: 354px;
  width: 100%;
}

#about .about_content .about_content_img_1 img {
  width: 100%;
  height: 354px;
  object-fit: cover;
}

#about .about_content .about_content_img_2 {
  width: 100%;
  height: 449px;
}

#about .about_content .about_content_img_2 img {
  width: 100%;
  height: 449px;
  object-fit: cover;
}

#about .about_content .play_video {
  margin-top: 25px;
}

#about .about_content .play_video span {
  font-size: 16;
  line-height: 38px;
  color: #3E424B;
}

#about .about_content_wrapper {
  padding-left: 40px;
}

#about .about_content_wrapper h3 {
  color: #3E424B;
  font-size: 46px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  padding-bottom: 20px;
  line-height: 55px;
}

#about .about_content_wrapper p {
  color: #7A849A;
  font-size: 20px;
  line-height: 44px;
  margin-right: 18px;
}

#about_content_2 {
  padding-top: 100px;
  padding-bottom: 190px;
}

#about_content_2 .office_content_wrapper h3 {
  color: #3E424B;
  font-size: 46px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  padding-bottom: 20px;
  line-height: 55px;
}

#about_content_2 .office_content_wrapper p {
  color: #7A849A;
  font-size: 20px;
  line-height: 44px;
  margin-right: 18px;
  padding-bottom: 20px;
  margin-right: 75px;
}

#about_content_2 .about_content_2_img {
  width: 100%;
  height: 825px;
}

#about_content_2 .about_content_2_img img {
  width: 100%;
  height: 825px;
  object-fit: cover;
}

#about_content_2 .container .row .r_space {
  padding-left: 0px;
}

#team {
  padding-top: 186px;
  padding-bottom: 90px;
  background-color: #F9F9F9;
}

#team .section_title h2 {
  padding-bottom: 74px;
}

#team .team_card {
  margin-top: 22px;
}

#team .team_card .members_img {
  width: 100%;
  height: 475px;
}

#team .team_card .members_img img {
  object-fit: cover;
  width: 100%;
  height: 475px;
}

#team .team_card .member_position {
  margin-bottom: 105px;
}

#team .team_card .member_position h3 {
  color: #3E424B;
  font-size: 62px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  padding-top: 35px;
  line-height: 74px;
}

#team .team_card .member_position span {
  font-size: 20px;
  line-height: 20px;
  color: #7A849A;
  margin-top: 12px;
  display: block;
}

#error_area {
  padding-bottom: 0 !important;
}

#error_area .error_wrapper {
  padding-top: 50px;
}

#error_area .error_wrapper h2 {
  font-size: 62px;
  line-height: 74px;
  color: #3E424B;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 60px;
}

#error_area .bottom {
  padding: 60px 0px;
  background-color: #fff;
}

#error_area .bottom .container .social_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error_area .bottom .container .social_links li {
  padding: 16px;
  transform: translateY(0);
  transition: all 0.4s linear;
  border-radius: 50%;
}

#error_area .bottom .container .social_links li a i {
  color: #3E424B;
  font-size: 28px;
}

#error_area .bottom .container .social_links li:hover {
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

#error_area .bottom .container .c_rights {
  text-align: center;
  margin-top: 30px;
}

#error_area .bottom .container .c_rights h5 {
  color: #3E424B;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  padding-bottom: 30px !important;
}

#testimonial-area {
  background: #3E424B;
  padding-top: 178px;
  padding-bottom: 310px;
  position: relative;
}

#testimonial-area .tes-title h2 {
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 70px;
}

#testimonial-area .testimonial_slider {
  text-align: center;
  color: #fff;
}

#testimonial-area .testimonial_slider .slide_item .content_text {
  font-size: 32px;
  line-height: 55px;
  font-weight: 300;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  #testimonial-area .testimonial_slider .slide_item .content_text {
    font-size: 18px;
    line-height: 38px;
  }
}

@media (max-width: 575px) {
  #testimonial-area .testimonial_slider .slide_item .content_text {
    font-size: 14px;
  }
}

#testimonial-area .testimonial_slider .slide_item .client_name {
  font-size: 20px;
  line-height: 44px;
  margin-bottom: 0px;
}

#testimonial-area .testimonial_slider .slide_item .client_position {
  font-size: 14px;
  line-height: 16px;
  color: #7A849A;
  display: inline-block;
  margin-top: -10px;
}

#testimonial-area .testimonial_slider .slick-dots {
  transform: translate(-55%, -12px);
}

#testimonial-area .testimonial_slider .slick-dots li {
  border: 1px solid #fff;
}

#testimonial-area .testimonial_slider .slick-dots li.slick-active {
  background-color: #fff;
}

#testimonial-area .testimonial_slider .slick-arrow {
  font-size: 0px;
  background: transparent;
  position: absolute;
  bottom: 0px;
}

@media (max-width: 1024px) {
  #testimonial-area .testimonial_slider .slick-arrow {
    bottom: 50px;
  }
}

#testimonial-area .testimonial_slider .slick-arrow.slick-prev {
  transform: translate(400px, 116px);
}

@media (max-width: 1024px) {
  #testimonial-area .testimonial_slider .slick-arrow.slick-prev {
    transform: translate(-195px, 113px);
  }
}

@media (max-width: 480px) {
  #testimonial-area .testimonial_slider .slick-arrow.slick-prev {
    transform: translate(-155px, 113px);
  }
}

#testimonial-area .testimonial_slider .slick-arrow.slick-next {
  transform: translate(633px, 116px);
}

@media (max-width: 1024px) {
  #testimonial-area .testimonial_slider .slick-arrow.slick-next {
    transform: translate(65px, 113px);
  }
}

@media (max-width: 480px) {
  #testimonial-area .testimonial_slider .slick-arrow.slick-next {
    transform: translate(55px, 113px);
  }
}

#testimonial-area .testimonial_slider .slick-prev:before,
#testimonial-area .testimonial_slider .slick-next:before {
  color: #fff;
  font-size: 16px;
  outline: none;
  text-transform: capitalize;
}

@media (max-width: 480px) {
  #testimonial-area .testimonial_slider .slick-prev:before,
  #testimonial-area .testimonial_slider .slick-next:before {
    font-size: 12px;
  }
}

#testimonial-area .testimonial_slider .slick-prev:before {
  content: 'Previous Clients';
}

#testimonial-area .testimonial_slider .slick-next:before {
  content: 'Next Clients';
}

#testimonial-area .qoute_img {
  position: absolute;
  content: "";
  top: 34%;
  left: 7%;
}

#joinus-area .join-designer h2 {
  font-size: 46;
  line-height: 1.2;
  color: #3E424B;
  font-family: "Oswald", sans-serif;
  padding-bottom: 10px;
  font-weight: 600;
}

#joinus-area .join-designer p {
  color: #7A849A;
  font-size: 20PX;
  line-height: 2;
}

#joinus_footer .copyright_text {
  padding-bottom: 30px;
}

#joinus-contact_area {
  padding-bottom: 197px;
}

#joinus-contact_area .contact_form .form-row input {
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 30px 10px;
  outline: none;
  margin: 20px 0;
}

#joinus-contact_area .contact_form .form-row input.form-control {
  background-clip: unset;
}

#joinus-contact_area .contact_form .subject {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 30px 10px;
  outline: none;
  margin: 20px 0;
}

#joinus-contact_area textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 30px 10px;
  outline: none;
  margin: 20px 0;
}

#joinus-contact_area button {
  margin-top: 25px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.1px;
  color: #3E424B;
  border: 2px solid #3E424B;
  padding: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#joinus-contact_area button:hover {
  border: 2px solid transparent;
}

#footer_area {
  text-align: center;
  padding-top: 188px;
}

@media (max-width: 767px) {
  #footer_area {
    padding-top: 80px;
  }
}

#footer_area .footer_menu .nav_links {
  padding-top: 18px;
}

#footer_area .footer_menu span {
  font-size: 20px;
  line-height: 44px;
  color: #3E424B;
  padding-bottom: 10px;
  display: block;
}

@media (max-width: 1024px) {
  #footer_area .footer_menu ul {
    margin: 20px 0px !important;
  }
}

#footer_area .footer_menu ul li {
  display: inline-block;
  margin: 0px 37.5px;
}

@media (max-width: 991px) {
  #footer_area .footer_menu ul li {
    margin: 0px 12.5px;
  }
}

@media (max-width: 575px) {
  #footer_area .footer_menu ul li {
    margin: 0px 6.5px;
  }
}

@media (max-width: 380px) {
  #footer_area .footer_menu ul li {
    margin: 0px 4.5px;
  }
}

#footer_area .footer_menu ul li:first-child {
  margin-left: 0px;
}

#footer_area .footer_menu ul li:last-child {
  margin-right: 0px;
}

#footer_area .footer_menu ul li a {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #3E424B;
  display: inline-block;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  #footer_area .footer_menu ul li a {
    font-size: 18px;
    line-height: 28px;
  }
}

#footer_area .connect_info {
  margin-top: 78px;
  margin-bottom: 35px;
}

@media (max-width: 1024px) {
  #footer_area .connect_info {
    margin-top: 40px;
  }
}

#footer_area .connect_info h4 {
  font-size: 20px;
  line-height: 44px;
  color: #3E424B;
  padding-bottom: 12px;
}

#footer_area .connect_info p {
  text-align: center;
  font-size: 16px;
  line-height: 38px;
  color: #7A849A;
  margin: 0 21%;
}

@media (max-width: 767px) {
  #footer_area .connect_info p {
    white-space: normal;
  }
}

#footer_area .connect_info .email {
  font-size: 16px;
  line-height: 38px;
  font-weight: 600;
  color: #3E424B;
}

@media (max-width: 1024px) {
  #footer_area .copyright_text {
    padding-bottom: 15px;
  }
}

.copyright_text p {
  color: #3E424B;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.7;
  padding-bottom: 30px;
  margin: 0;
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/
@media (max-width: 991px) {
  #about .about_content .col-lg-6:first-child {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  #about .about_content .col-lg-6 .play_video {
    margin-top: 32px;
  }
}

/* laptop devices 1200 - 1600 */
/* ?? section start */
/* ?? section end */
/* large devices 992 - 1199*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* ?? section start */
  /* ?? section end */
}

/* Medium devices 768 - 991 */
@media (min-width: 768px) and (max-width: 991px) {
  /* about section start */
  #about .about_content .col-lg-6:first-child {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  #about .about_content .col-lg-6 .play_video {
    margin-top: 25px;
  }
  .about_content_2_img {
    margin-bottom: 30px;
  }
  .member_position h3 {
    font-size: 52px !important;
  }
  /* about section end */
  /* work section start */
  #work .work_content .work_tab .nav-pills .nav-link {
    margin: 0 10px;
  }
  #work .work_content .tab-text p {
    font-size: 15px;
  }
  .project_img {
    height: 300px !important;
  }
  .project_img img {
    height: 300px !important;
  }
  #work .project_info h3 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .social_links {
    padding-bottom: 0px;
  }
  /* work section end */
}

/* Small devices 320 - 767 */
@media (max-width: 767px) {
  /* about section start */
  #about .about_content .col-lg-6 .play_video {
    margin-top: 25px;
  }
  #about_content_2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about_content_2_img {
    margin-bottom: 30px;
  }
  .member_position h3 {
    font-size: 52px !important;
  }
  section {
    padding: 60px 0px;
  }
  /* about section end */
  /* work  section start */
  .project_img {
    height: 200px !important;
  }
  .project_img img {
    height: 200px !important;
  }
  #work {
    padding-top: 80px;
  }
  #work .project_info h3 {
    font-size: 24px;
    padding-bottom: 0px;
  }
  #work .project_info .v_project {
    letter-spacing: 5px;
  }
  .social_links li {
    margin: 0 10px;
  }
  .social_links {
    padding-bottom: 0px;
  }
  #work .work_content .tab-text p {
    padding-bottom: 15px;
  }
  #work .work_content .work_tab .nav-pills .nav-link {
    margin: 0;
    margin-right: 20px;
  }
  #work .work_content .work_tab .nav-pills .nav-link::before {
    bottom: -2px;
  }
  /* work  section end */
}

/* Xtra_Small devices 0 - 575 */
@media (max-width: 575px) {
  .social_links {
    margin-bottom: 20px !important;
  }
  section {
    padding: 60px 0px;
  }
  /* About section start */
  #about .about_content .col-lg-6 .play_video {
    margin-top: 10px;
    white-space: wrap;
  }
  #about_content_2 .container .r_space {
    padding-left: 15px !important;
    margin-bottom: 30px;
  }
  .about_content_2_img {
    margin-bottom: 30px;
  }
  .member_position h3 {
    font-size: 52px !important;
  }
  /* About section end */
  #footer_area .connect_info p {
    margin: 0 10%;
    line-height: 32px;
  }
}

/* WE_DO part start */
#WE_Do {
  padding-top: 180px;
}

#WE_Do .container .box_wrapper {
  position: relative;
  max-width: 570px;
  height: 435px;
  margin: auto;
}

#WE_Do .container .box_wrapper .card_box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.9s ease-in-out;
  border: 1.5px solid #3E424B;
}

#WE_Do .container .box_wrapper .card_box .front_part {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

#WE_Do .container .box_wrapper .card_box .front_part h2 {
  font-size: 84px;
  line-height: 110px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  #WE_Do .container .box_wrapper .card_box .front_part h2 {
    font-size: 66px;
    line-height: 90px;
  }
}

@media (max-width: 480px) {
  #WE_Do .container .box_wrapper .card_box .front_part h2 {
    font-size: 52px;
    line-height: 76px;
  }
}

#WE_Do .container .box_wrapper .card_box .back_part {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #3E424B;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title {
  padding: 50px;
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title h2 {
  font-size: 46px;
  line-height: 55px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 32px;
}

@media (max-width: 575px) {
  #WE_Do .container .box_wrapper .card_box .back_part .box_title h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 26px;
  }
}

@media (max-width: 480px) {
  #WE_Do .container .box_wrapper .card_box .back_part .box_title h2 {
    font-size: 20px;
  }
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title p {
  font-size: 16px;
  line-height: 38px;
  color: #7A849A;
  margin-bottom: 40px;
}

@media (max-width: 575px) {
  #WE_Do .container .box_wrapper .card_box .back_part .box_title p {
    line-height: 32px;
  }
}

#WE_Do .container .box_wrapper .card_box .back_part .box_title a {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

@media (max-width: 575px) {
  #WE_Do .container .box_wrapper .card_box .back_part .box_title a img {
    width: 22px !important;
  }
}

#WE_Do .container .box_wrapper .card_box:hover {
  transform: rotateY(180deg);
  border: transparent;
}

#WE_Do .container .mb-30 {
  margin-bottom: 30px;
}

/* WE_DO part end */
/* brand_area part start */
#brand_area {
  padding-top: 20px;
  padding-bottom: 200px;
}

#brand_area .container .brand_slider .single_brand img {
  margin: auto;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* brand_area part end */
/* ?? part start */
/* ?? part end */
/*# sourceMappingURL=style.css.map */